Flask==3.0.0
numpy==1.26.1
pandas==2.1.1
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.31.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
ipython==8.18.1
